<section id="leave" class="container">
    <div class="gig">
        <p>nie admin</p>
        <h1>{{day}}
            {{month}}
            {{year}}
            {{description}}
            {{leaveType}}
            {{status}}
        </h1>
    </div>
</section>